@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
#logo{
    width: 70px;
    height: 70px;
}
nav{
    font-size: 1em;
}
header > h1{
    font-family: 'Holtwood One SC', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 5.5em;
    font-weight: bold;
    background-image: url("../img/foot1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    word-spacing: 25px;
    letter-spacing: 10px;    
}
#fundodiv{
    background-image: url("../img/foot1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center right;
    margin-left: -10px;
}
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.7);
}
.card-img{
    width: 300px;
    height: 225px;
}
section{
    background-image: url("../img/foot1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center right;
    text-align: justify;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    
}
footer > article{
    display: inline-block;
}
