*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
#logo{
    width: 50px;
    height: 50px;
}
nav{
    font-size: 1.1em;
}
#carouselExampleIndicators{
    margin: 0px 10px 20px 10px;
}
#flora{
    margin-top: 20px;
}
.h1sec{
    font-family: cursive;
}
p{
    font-family: cursive;
    text-align: justify;
}
section > div{
    background-color: white;
    color: black;
    text-align: center;
    display: inline-block;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
footer > article{
    display: inline-block;
}
